@import "./tokens.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-cream, #F2EAE2);
    padding: 0 12px;
    height: 100vh;
    font-family: Montserrat, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    background: var(--color-white, #FFFFFF);
    border-radius: 8px;
    overflow: hidden;
    /* ensures image + content stay flush */
    max-width: 600px;
    width: 100%;
}

.image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300, 24px);
    padding: var(--spacing-400, 32px);
}

.top-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300, 24px);
    padding: var(--spacing-400, 32px);
}

.bottom-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300, 24px);
    padding: var(--spacing-400, 32px);
}

.content .category {
    color: var(--color-grey, #6C7289);
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 5px;
}

.content .title {
    color: var(--color-black, #1C232B);
    font-family: Fraunces, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.content .discription {
    color: var(--color-grey, #6C7289);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;

    color: var(--color-grey, #6C7289);
}

.content .price-then {
    color: var(--color-green-500, #3D8168);
    font-family: Fraunces, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.content .price-now {
    color: var(--color-grey, #6C7289);
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: line-through;
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 8px);
    padding: var(--spacing-200, 16px) var(--spacing-400, 32px);
    border-radius: var(--spacing-100, 8px);
    background: var(--color-green-500, #3D8168);
    color: var(--color-white, #FFF);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 110%;
    border: none;
    cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    main {
        flex-direction: row;
        align-items: stretch;
        max-width: 900px;
    }

    .image,
    .content {
        flex: 1;
    }

    .image img {
        object-fit: cover;
        border-radius: 8px 0 0 8px;
    }

    .content {
        justify-content: space-between;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    main {
        flex-direction: row;
        align-items: stretch;
        max-width: 900px;
        max-height: 550px;
    }

    .image,
    .content {
        flex: 1;
    }

    .image img {
        object-fit: cover;
        border-radius: 8px 0 0 8px;
    }

    .content {
        justify-content: space-between;
    }

    .top-content {
        max-width: 300px;
    }
}